.app.dark {
  --bg-color: #080842;
  --inverted-bg-color: #d8d8ee;

  --primary-color: #2b772b;
  --secondary-color: #2eb12e;

  --inverted-primary-color: #214fb3;
  --inverted-secondary-color: #101d91;
}