:root {
  --bg-color: #d8d8ee;
  --inverted-bg-color: #080842;

  --primary-color: #214fb3;
  --secondary-color: #101d91;

  --inverted-primary-color: #2b772b;
  --inverted-secondary-color: #2eb12e;
}